
%h3
  = "#{collection.count} #{name}"
.listing
  %table
    %tr
      %th  Name 
      %th  Men 
      %th  Women 
      %th  Total 
    - collection.each do |object|
      %tr{:onclick => "window.location='#{residents_overview_index_path(:class => object.class, :id => object.id, :from => from.to_s(:formatted), :to => to.to_s(:formatted))}'"}
        %td= h object.name
        %td= h object.residents.men.reserved(from, to).size
        %td= h object.residents.women.reserved(from, to).size
        %td
          - size = object.residents.unknown.reserved(from, to).size
          - str = object.residents.reserved(from, to).size.to_s
          - str += " (#{size} unknown)" if size > 0
          = h str
    %tr{:style => "font-weight: bold;"}
      %td Total
      %td= h collection.map{|o| o.residents.men.reserved(from, to).size }.sum
      %td= h collection.map{|o| o.residents.women.reserved(from, to).size }.sum
      %td
        - size = collection.map{|o| o.residents.unknown.reserved(from, to).size }.sum
        - str = collection.map{|o| o.residents.reserved(from, to).size }.sum.to_s
        - str += " (#{size} unknown)" if size > 0
        = h str
