%h1 Dashboard
.listing.not_clickable
  %h3 Quick Links
  .actions
    - if current_user.has_access?('ReservationsController', 'new')
      = link_to "New Reservation", new_reservation_path, :class => "fake_button"
    - if current_user.has_access?('ResidentsController', 'new')
      = link_to "New Resident", new_resident_path, :class => "fake_button"
    = link_to "Search Residents", residents_path, :class => "fake_button"
  %h3 Upcoming Check In
  - if @in_reservations.size > 0

    = link_to checkins_reservations_path(format: 'pdf') do
      Download all check-in PDFs

    %br
    %br

    %table
      %tr
        %th Resident
        %th Room
        %th Arrival
        %th Status
        %th Actions
      - for reservation in @in_reservations
        %tr{:style => "#{(reservation.arrival == Date.today ? 'background-color: orange;' : '')}"}
          %td= h reservation.resident.full_name
          %td= h reservation.room.name
          %td= h reservation.arrival_formatted
          %td= h reservation.status
          %td
            = link_to image_tag('icons/edit', size: '25x25'), reservation_path(reservation)
            = link_to image_tag('icons/download', size: '25x25'), reservation_path(reservation, format: 'pdf')

  - else
    %p No Check Ins next week.
  %h3 Upcoming Check Out
  - if @out_reservations.size > 0
    %table
      %tr
        %th Resident
        %th Room
        %th Departure
        %th Status
        %th Actions
      - for reservation in @out_reservations
        %tr{:style => "#{(reservation.departure == Date.today ? 'background-color: orange;' : '')}"}
          %td= h reservation.resident.full_name
          %td= h reservation.room.name
          %td= h reservation.departure_formatted
          %td= h reservation.status
          %td
            = link_to image_tag('icons/edit', size: '25x25'), reservation_path(reservation)
            = link_to image_tag('icons/download', size: '25x25'), reservation_path(reservation, format: 'pdf')

  - else
    %p No Check Outs next week.
  %h3 Unread comments
  %table
    %tr
      %th Title
      %th Text
      %th User
      %th About
      %th Actions
    - @unread_comments.each do |comment|
      %tr
        %td= h comment.title
        %td= h shorten(comment.text, 5)
        %td= h comment.user
        %td= h shorten("#{comment.entity_type}: #{comment.entity}", 2)
        %td
          - if comment.entity.is_a? Resident
            = link_to image_tag('icons/edit', size: '25x25'), resident_path(comment.entity)
          - elsif comment.entity.is_a? Reservation
            = link_to image_tag('icons/edit', size: '25x25'), reservation_path(comment.entity)
