%h1 Preferences
.listing
  click to edit preferences:
  %ul{:style => "padding-left: 200px;"}
    %li= link_to "activities", :controller => "activities"
    %li= link_to "comments", :controller => "comments"
    %li= link_to "rates", :controller => "rates"
    %li= link_to "continents", :controller => "continents"
    %li= link_to "countries", :controller => "countries"
    %li= link_to "religions", :controller => "religions"
    %li= link_to "institutes", :controller => "institutes"
    %li= link_to "schools", :controller => "schools"
    %li= link_to "buildings", :controller => "buildings"
    %li= link_to "rooms", :controller => "rooms"
    %li= link_to "users", :controller => "users"
    %li= link_to "groups", :controller => "groups"
    %li= link_to "options", :controller => "options"
