%h1
  Residents from #{params[:class]} presents during the period #{"#{@from.to_s(:formatted)} - #{@to.to_s(:formatted)}"}
%h3= "#{@object.men.reserved(@from, @to).count} Men"
.listing
  %table
    %tr
      %th  Last Name 
      %th  First Name 
      %th  Country 
      %th  Religion 
      %th  Institute 
      %th  School 
    - @object.men.reserved(@from, @to).each do |resident|
      %tr{:onclick => "window.location='#{resident_path(resident)}'"}
        %td= h resident.last_name
        %td= h resident.first_name
        %td= h resident.country
        %td= h resident.religion
        %td= h resident.institute
        %td= h resident.school
%h3= "#{@object.women.reserved(@from, @to).count} Women"
.listing
  %table
    %tr
      %th  Last Name 
      %th  First Name 
      %th  Country 
      %th  Religion 
      %th  Institute 
      %th  School 
    - @object.women.reserved(@from, @to).each do |resident|
      %tr{:onclick => "window.location='#{resident_path(resident)}'"}
        %td= h resident.last_name
        %td= h resident.first_name
        %td= h resident.country
        %td= h resident.religion
        %td= h resident.institute
        %td= h resident.school
%h3= "#{@object.unknown.reserved(@from, @to).count} Unknown"
.listing
  %table
    %tr
      %th  Last Name 
      %th  First Name 
      %th  Country 
      %th  Religion 
      %th  Institute 
      %th  School 
    - @object.unknown.reserved(@from, @to).each do |resident|
      %tr{:onclick => "window.location='#{resident_path(resident)}'"}
        %td= h resident.last_name
        %td= h resident.first_name
        %td= h resident.country
        %td= h resident.religion
        %td= h resident.institute
        %td= h resident.school
