%h1 Admin Summary
.listing
  %h3
    Open invoices (#{@open_invoices.size})
  Tip: red means they're over #{Option.value('invoice_late_delay')} days old
  .summary
    %table{:width => "100%"}
      %tr
        %th Resident
        %th Room
        %th Created
        %th Value
        %th Paid
        %th Remaining
      - @open_invoices.each do |invoice|
        %tr{:onclick => "window.location = '"}
        = invoice_path(invoice)
        '"
        - unless invoice.can_be_paid_until?(@date) then
          style="background-color: red;"
        title="invoice #{invoice.id}"&gt;
        %td= h invoice.resident
        %td= h invoice.reservation.room
        %td= h invoice.created_at_formatted
        %td= h invoice.value
        %td= h invoice.incomes_total
        %td= h invoice.remaining
.summary_total
  Remaining total :
  \#{@open_invoices.inject(0.to_money){ |sum,i| sum + i.remaining }}
%h3
  Reservations without confirmation invoice (#{@reservations_without_confirmation_invoice.size})
.summary
  %table{:width => "100%"}
    %tr
      %th Resident
      %th Room
      %th Period
    - @reservations_without_confirmation_invoice.each do |reservation|
      %tr{:onclick => "window.location = '"}
      = reservation_path(reservation)
      '" title="reservation #{reservation.id}"&gt;
      %td= h reservation.resident
      %td= h reservation.room
      %td= h reservation.interval_string
