.edit
  - error_messages_for(@comment)
  = f.hidden_field :user_id
  = f.hidden_field :entity_id
  = f.hidden_field :entity_type
  %p
    = f.label :title, {}, :class => :required
    %span= f.text_field :title
  %p
    = f.label :text
    %span= f.text_area :text, :rows => 4
  %p
    = f.label :read
    %span= f.check_box :read
