- name = :search unless name
= search_form_for(@q, :url => url) do |f|
  .infos
    = invoices.count
    invoices found.
  %table.listing
    %tr
      %th= order_by_link(:type, :params_scope => name)
      %th= order_by_link(:reservation_id, :text => 'Reservation', :params_scope => name)
      %th= 'Value'
      %th= order_by_link(:interval_start, :params_scope => name)
      %th= order_by_link(:interval_end, :params_scope => name)

    %tr.listing_filter
      %th= f.select(:type_eq, [['All', nil]] + %w{ConfirmationInvoice ReservationInvoice CustomInvoice DepositInvoice}.map{|x| [x, x]}, {}, { :onchange => "this.form.submit();" } )
      %th= f.select(:reservation_id_eq, Reservation.options_for_select(:allow_nil => true), {}, { :onchange => "this.form.submit();" })
      %th
      %th= f.text_field :interval_start_eq, { :onchange => "this.form.submit();" }
      %th= f.text_field :interval_end_eq, { :onchange => "this.form.submit();" }

    - invoices.each do |invoice|
      %tr{:onclick => "window.location='#{invoice_path(invoice)}'"}
        %td= h invoice.type
        %td= h invoice.reservation
        %td= h invoice.value
        %td= h invoice.interval_start_formatted
        %td= h invoice.interval_end_formatted

  = will_paginate invoices #(:params_scope => name)
