- if rights.count == 0
  %p No rights found.
- else
  = will_paginate rights
  %table
    %tr
      %th= order_by_link :controller
      %th= order_by_link :action
      %th= order_by_link :allowed
    - rights.each do |right|
      %tr
        %td= h right.controller
        %td= h right.action
        %td= h right.allowed
  = will_paginate rights
