%h1
  Group #{h @group.name}
.listing
  %p
    %label
      %b name:
    %span= h @group.name
  .actions
    = link_to 'Change name', edit_group_path(@group), :class => "fake_button"
    - if @group.deletable?
      = link_to 'Delete', @group, :confirm => "Are you sure?", :method => :delete, :class => "fake_button red"
%h3 Rights
.listing
  = render :partial => 'listing_rights',
    :locals => { :q => @q, :rights_count => @rights.count, :rights => @rights }
  .actions
    = link_to 'Manage rights', manage_rights_group_path(@group), :class => "fake_button"
    %br/
%h3 Users
.listing
  - if @group.users.size == 0
    No users found.
  - else
    %table
      %tr
        %th login
        %th last_name
        %th first_name
      - @group.users.each do |user|
        %tr
          %td= h user.login
          %td= h user.last_name
          %td= h user.first_name
  %br/
  = link_to 'New user', new_user_path(:group_id => @group.id), :class => 'fake_button'
