.edit
  - error_messages_for(@room_option)
  %p
    = f.label :name, {}, :class => :required
    %span= f.text_field :name
  %p
    = f.label :value, {}, :class => :required
    %span= f.text_field :value
  %p
    = f.label :billing, {}, :class => :required
    %span= select f, :billing, RoomOption::Types
