%h1
  New Room Option for Room #{@room.name}
= form_for(@room_option, :url => room_room_options_path(@room)) do |f|
  = f.hidden_field :room_id
  = render :partial => 'form', :locals => { :f => f }
  .actions
    = f.submit 'Create'
    = link_to  'Cancel', :back, :class => "fake_button"
