.edit
  - error_messages_for(@resident)
  %table
    %tr
      %td
        %p
          = f.label :last_name, {}, :class => :required
          %span= f.text_field :last_name
        %p
          = f.label :first_name, {}, :class => :required
          %span= f.text_field :first_name
        %p
          = f.label :address
          %span= f.text_field :address, :class => 'bigger'
        %p
          = f.label :identity_card
          %span= f.text_field :identity_card
        %p
          = f.label :nationality
          %span= f.select(:country_id, Country.options_for_select(:allow_nil => true, :text => 'Unknown'))
        %p
          = f.label :gender
          %span= f.select(:gender, [['Unknown', nil]] + Resident::Genders.map{ |s| [s.humanize, s] })
        %p
          = f.label :religion
          %span= f.select(:religion_id, Religion.options_for_select(:allow_nil => true, :text => 'Unknown'))
        %p
          = f.label :school
          %span= f.select(:school_id, School.options_for_select(:allow_nil => true, :text => 'Unknown'))
        %p
          = f.label :color
          %span= f.text_field :color, class: "colorPicker"
        %p
          = f.label :tag_list
          %span= f.text_field :tag_list, value: @resident.tag_list.join(", "), :class => 'bigger'
      %td
        %p
          = f.label :date_of_birth
          %span
            = text_field_tag 'resident[birthdate_formatted]', @resident.birthdate_formatted, { :id => 'resident_birthdate_formatted', :onchange => "dates_changed()", class: 'datepicker' }
        %p
          = f.label :email
          %span= f.text_field :email, :class => 'bigger'
        %p
          = f.label :phone
          %span= f.text_field :phone
        %p
          = f.label :mobile
          %span= f.text_field :mobile
        %p
          = f.label :bank_name
          %span= f.text_field :bank_name
        %p
          = f.label :bank_iban
          %span= f.text_field :bank_iban, :class => 'bigger'
        %p
          = f.label :bank_bic_swift
          %span= f.text_field :bank_bic_swift
        %p
          = f.label :bank_clearing
          %span= f.text_field :bank_clearing
        %p
          = f.label :mac_address
          %span= f.text_field :mac_address, :class => 'bigger'
        %p
          = f.label :mac_active
          %span= f.check_box :mac_active
