%h1 Listing Residents
.listing
  %h3 Export all residents
  = form_tag(export_all_residents_path, :method => :get) do
    = select_day(Date.today)
    = select_month(Date.today)
    = select_year(Date.today)
    = submit_tag 'Export'
  %br/
  %br/
  = search_form_for(@q) do |f|

    Tags:
    = link_to 'All', residents_path(q: params[:q].try(:merge, { tags_name_eq: nil }))
    - ActsAsTaggableOn::Tag.all.each do |tag|
      = link_to tag.name, residents_path(q: params[:q].try(:merge, { tags_name_eq: tag.name }))
    = link_to 'Without any tags', residents_path(q: params[:q].try(:merge, { tags_name_present: false }))
    %br/

    .infos
      = @residents.count
      residents found.
    %table#residents
      %tr
        %th= order_by_link(:id)
        %th= order_by_link(:last_name)
        %th= order_by_link(:first_name)
        %th= order_by_link({:country => :name}, :text => 'Country')
        %th= order_by_link({:school =>  :name}, :text => 'School' )
        %th= order_by_link(:email)

      %tr.listing_filter
        %th= f.search_field :id_eq, :style => "width: 40px;"
        %th= f.search_field :last_name_cont, :style => "width: 150px;"
        %th= f.search_field :first_name_cont, :style => "width: 120px;"
        %th= f.select(:country_id_eq, Country.options_for_select(:allow_nil => true), {}, { :onchange => "this.form.submit();" })
        %th= f.select(:school_id_eq, School.options_for_select(:allow_nil => true), {}, { :onchange => "this.form.submit();" })
        %th
          = f.search_field :email_cont
          %input{:style => "display:none", :type => "submit"}

      - if @residents.count > 0
        - @residents.each do |resident|
          %tr
            %td{:onclick => "window.location='#{resident_path(resident)}'", style: "background-color: ##{resident.color};"}
              = h resident.id
            %td{:onclick => "window.location='#{resident_path(resident)}'"}= h resident.last_name
            %td{:onclick => "window.location='#{resident_path(resident)}'"}= h resident.first_name
            %td{:onclick => "window.location='#{resident_path(resident)}'"}= h resident.country ? resident.country.name : ''
            %td{:onclick => "window.location='#{resident_path(resident)}'"}= h resident.school ? resident.school.name : ''
            %td= mail_to(resident.email)
      - else
        %tr
          %td{:colspan => "6"}
            %br>/
            No residents found.
            %br/
            %br/

    = will_paginate @residents
  .actions
    - if current_user.has_access?('ResidentsController', 'new')
      = link_to 'New Resident', new_resident_path, :class => "fake_button"

    = link_to 'CSV', residents_path(format: 'csv'), class: 'fake_button'
