%h1 Listing Rooms
.listing
  - if Building.count > 0
    Building:
    = link_to 'All', rooms_path(q: {:building_id_eq => nil})
    - Building.all.each do |building|
      = link_to building.name, rooms_path(q: {:building_id_eq => building.id})  { |name| name }
    = search_form_for(@q) do |f|
      = f.hidden_field :building_id
      Room:
      = f.text_field :name_cont
      = f.submit 'Search'
    %br/
  - if @rooms.count > 0
    .infos
      = @rooms.count
      rooms found.
    %table
      %tr
        %th= order_by_link :name
        %th= order_by_link :building_name
        %th= order_by_link :rate_name
        %th
          = order_by_link :size, :text => 'Size (m²)'
        %th= order_by_link :phone
        %th
      - @rooms.each do |room|
        %tr{:onclick => "window.location='#{edit_room_path(room)}'"}
          %td= h room.name
          %td= room.building ? room.building.name : '-'
          %td= h room.rate.name
          %td= h room.size
          %td= h room.phone
          %td= link_to "options (#{room.options.size})", room_options_path(room)
      = will_paginate @users
  - else
    No rooms were found.
  .actions
    = link_to('New Room', new_room_path, :class => "fake_button")
