.edit
  = error_messages_for(@school)
  %p
    = f.label :name, {}, :class => :required
    %span= f.text_field :name
  %p
    = f.label :institute, {}, :class => :required
    %span= select(f, :institute_id, Institute.options_for_select)
