%h1 Listing Schools
.listing
  - if Institute.count > 0
    Filter by Institute:
    = link_to 'All', schools_path(q: {institute_id_eq: nil})
    - Institute.all.each do |institute|
      = link_to institute.name, schools_path(q: {institute_id_eq: institute.id}) { |name| name }
    %br/
    = search_form_for(@q) do |f|
      = f.hidden_field :institute_id
      Search School:
      = f.text_field :name_cont
      = f.submit 'Search'
    %br/
  - if @schools.count > 0
    .infos
      = @schools.count
      schools found
      %br/
    %table
      %tr
        %th= order_by_link :name
        %th= order_by_link :institute_name
      - @schools.each do |school|
        %tr{:onclick => "window.location='#{edit_school_path(school)}'"}
          %td= school.name
          %td= school.institute ? school.institute.name : '-'

    = will_paginate @schools
  - else
    No schools found.
  .actions
    = link_to('New School', new_school_path, :class => :fake_button)
