.edit
  = f.error_messages
  %p
    = f.label :name, {}, :class => :required
    %span= f.text_field :name
  %p
    = f.label :continent_name, {}, :class => :required
    %span= f.select(:continent_id, Continent.options_for_select)
