%h1 Listing Logs
.listing
  = search_form_for(@q) do |f|
    .infos
      = @activities.count
      logs found.
    %table#activities
      %tr
        %th= order_by_link(:user_id)
        %th= order_by_link(:entity_id)
        %th= order_by_link(:text)
        %th= order_by_link(:created_at)
      - if @activities.count > 0
        - @activities.each do |activity|
          %tr
            %td= h activity.user
            %td= h "#{activity.entity.class} #{activity.entity}"
            %td= h activity.text
            %td= h activity.created_at_formatted
      - else
        %tr
          %td{:colspan => "6"}
            %br>/
            No logs found.
            %br/
            %br/
  = will_paginate @activities
