!!!
%html
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title
      CSTB || #{"#{controller.controller_name.capitalize}: #{controller.action_name}"}
    -# javascript_include_tag(%w{prototype effects controls dragdrop application builder slider rest_in_place})
    = javascript_include_tag('application')
    :javascript
      rails_authenticity_token = '#{form_authenticity_token}'
    = stylesheet_link_tag 'application'
  %body
    = include_gon
    %input{type: 'hidden', id: 'calendar_image', value: asset_path("calendar.gif")}
    #container
      #header
        #logo CSTB reservation manager
        #session_infos
          Logged in as #{link_to current_user.login, edit_user_path(current_user)} (#{link_to 'log out', logout_path})
          %br/
        #nav
          = render partial: 'layouts/nav'
      #contents
        - flash.each do |key, msg|
          = content_tag :p, msg, :id => key
        = yield
      #footer
        Resman license is GPL,
        = link_to "you can check out the source code here", "http://www.github.com/theoo/resman"
